<section class="log-in-page bg-gray-50 flex justify-center flex-grow">
  <div class="log-subcontainer flex flex-col items-center justify-center px-6 py-4 mx-auto  lg:py-0">
    <div class="flex items-center">
      <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Log in</h2>
    </div>

    <ul class="log-in w-full bg-white rounded-lg py-2 shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
      <li class="log-container p-8 space-y-4 md:space-y-6 sm:p-8">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class:'block mb-2 text-sm font-medium text-gray-900' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
          </div>

          <div class="field">
            <%= f.label :password, class:'block mb-2 text-sm font-medium text-gray-900' %><br />
            <%= f.password_field :password, placeholder:"••••••••", autocomplete: "current-password", class:'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field flex items-start mt-2 py-4">
              <%= f.check_box :remember_me, class:'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300' %>
              <%= f.label :remember_me, class:'ml-3 text-sm text-gray-500 dark:text-gray-300' %>
            </div>
          <% end %>

          <div class="flex items-center gap-2">
            <%= render "devise/shared/links" %>
          </div>
         
          <div class="actions grid mt-4">
            <%= f.submit "Log in", class:' justify-self-end w-full text-white bg-[#312e81] hover:bg-[#1e1b4b] focus:ring-4 focus:outline-none focus:ring-[#94a3b8] font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
          </div>
           
        <% end %>
      </li>
    </ul>
  </div>

</section>