<section class='single-post-page flex flex-col gap-8 w-[80%] mx-auto'>
  <a href="<%= user_posts_path(@user) %>">
    <button class="back-btn">â¬…</button>
  </a>
  <div class="custom-post-container flex flex-col border-solid border-2 border-neutral-400 rounded hover:border-neutral-800">
    <div class="flex justify-between flex-grow p-4">
      <h2>Post <%= "#" + @post.id.to_s %> by: <%= @user.name %></h2>
      <div class='post-interactions'>
        <span>Comments: <%= @post.comments_counter %>,</span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
      <%= form_with model: [@post, @like], url: create_post_like_path  do |form| %>
        <div class="mb-4 flex flex-col">
          <%= form.submit "Like ðŸ‘" , class: "text-[#11537d] text-xl font-medium bg-white px-4 py-2 rounded-[15px] w-fit cursor-pointer" %>
        </div>
      <% end %>
    </div>
    <p class="p-4 font-medium"><%= @post.text %></p>
  </div>

  <div class='post-comments flex flex-col p-2 border-solid border-2 border-neutral-400 rounded hover:border-neutral-800'>
    <h3 class="p-2 text-lg font-semibold">Comments:</h3>
    <%= render partial: 'view_helpers/post_comments', locals: { post: @post } %>
  </div>
  <a href="<%= new_post_comment_path(@post) %>" class="grid">
    <button class="back-btn max-w-max justify-self-center shadow bg-cyan-800 hover:bg-cyan-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"><span class='plus'>+</span> Add a comment</button>
  </a>
</section>